

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	background: rgb(33,33,33);
	color: orange;
	min-width: 350px;
}

header .nav {
	float: right;
}

.nav-item a {
	color: orange;
}

.navbar-toggler-icon {
	color: orange;
	border-color: orange;
}

.welcome-img h1 {
	position: absolute;
	top: 15.5vw;
	left: 50px;
	font-size: 3.5vw;
}

nav .nav-item:hover .fas, 
nav .nav-item:hover a {
	color: red;
}

.welcome-img {
	position:relative;
	left: 0px;
	top: 0px;
	background: black;
	text-align:center;
	z-index: -1;
	width: 100%;
}

.welcome-img img {
	width: 100%;
}

header .nav-item {
	padding-top:10px;
}

header .nav-item a {
	font-weight: bold;
}

header .nav-item:hover button{
	border-color:red;
	color:red;
	background:none;
}

header .nav-item:hover button .fas{
	color:red;
}

.empty-gradient {
	height: 100px;
	background: linear-gradient(black, rgb(33,33,33));
}

.upcontent {
	position: absolute;
	width: 100%;
	min-width: 350px;
	background: linear-gradient(black, rgb(33,33,33, 0));
}

.fas, .fab {
	color: orange;
}

.card {
	background: rgba(255,255,255,0.1);
	text-align: center;
	margin-top: 20px;
}

.card .fas, 
.card .fab {
	font-size:7.5em;
	
}

@media all and (max-width: 770px) {
    .hide-sm {
		display:none;
	}
}

@media all and (max-width: 350px) {
    .welcome-img h1 {
		top: 75px;
		font-size: 16px;
	}
}
















